body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}
Link {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;

$white: #fcf9f4;
$mid-grey: #696760;
$dark-grey: #323029;

.header {
  font-family: "Raleway", sans-serif;
  background-color: $primary;
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 30px;
    font-weight: 300;
    color: $white;
    margin: 0px;
  }
  h1:hover {
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 33.3333%;
  }
  li {
    // background-color: blue;
  }
  .text {
    color: $white;
    text-decoration: none;
    font-weight: 400;
  }
  .text:hover {
    border-bottom: solid white 1px;
    cursor: pointer;
  }
  .img-container {
    // height:100%;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-container:hover {
    cursor: pointer;
  }
  .icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.3333%;
  }
  .logo-container {
    width: 33.3333%;
    padding: 0px;
    // background-color: blue;
    display: flex;
  }
  .shopBar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 30rem;
    margin: auto;
    overflow: hidden;

    a {
      color: $dark-grey;
    }
    li:hover {
      text-decoration: underline;
    }
    li {
      font-size: 1rem;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
.shopBarClosed {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.1s;
}

.shopBarOpen {
  max-height: 45px;
  transition: max-height 0.1s;
}
.shopBarWrap {
  background-color: $red-2;
}
.header-small {
  font-family: "Raleway", sans-serif;
  background-color: $primary;
  display: none;
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h1 {
    font-size: 30px;
    font-weight: 300;
    color: $white;
    margin: 0px;
    text-decoration: none;
  }

  h1:hover {
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 33.3333%;
  }
  li {
    // background-color: blue;
  }
  .text {
    color: $white;
    text-decoration: none;
    font-weight: 400;
  }
  .text:hover {
    border-bottom: solid white 1px;
    cursor: pointer;
  }
  .img-container {
    // height:100%;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 19%;
  }
  .logo-container {
    width: 62%;
    padding: 0px;
    // background-color: blue;
    display: flex;
    justify-content: center;
  }
  .expander-wrap {
    width: 19%;
    display: flex;
  }
  .expander-wrap:hover {
    cursor: pointer;
  }
  .img-container:hover {
    cursor: pointer;
  }
}
.nav-menu {
  background-color: $white;
  color: $mid-grey;
  padding: 10px 0px;
  width: 0%;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s;
  position: absolute;
  z-index: 1;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  li {
    border-bottom: solid $mid-grey 1px;
    // border-top: solid $mid-grey 1px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  li:hover {
    cursor: pointer;
  }
  .first-item {
    border-top: solid 1px $mid-grey;
  }
  .expandableShopBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
    // background-color: $red-1;
    a {
      text-decoration: none;
      color: $mid-grey;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 1rem;
    }
    // background-color: red;
  }
  .shopBarOpen {
    max-height: 200px;
  }
}

.nav-menu-active {
  width: 100%;
  li {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .header-small {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .header-small {
    h1 {
      font-size: 1.3rem;
    }
  }
}
