$primary: #f7fafd;
$secondary: #f1f6fb;
$dark-1: #283341;
$dark-2: #516279;
$white: #ffffff;
$green: #5dd5bd;
$subtle-accents: #d6e4f7;
$money-green: #48ad96;

.orders {
  background-color: $primary;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 2rem;
      color: $dark-1;
    }
    button {
      font-size: 0.9rem;
      border: 0px;
      background-color: $dark-1;
      color: $white;
      padding: 5px 30px;
      border-radius: 15px;
    }
  }
  input {
    width: 100%;
    padding: 10px 30px;
    margin-top: 20px;
    outline: 2px solid transparent;
    border: 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px $dark-2;
  }

  .ordersList {
    width: 100%;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 3px 2px 15px $dark-2;
    .categoriesTitle {
      border-radius: 10px 10px 0px 0px;
      background-color: $secondary;
    }
    .header {
      width: 100%;
      height: 3rem;
      background-color: $secondary;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      border-radius: 10px 10px 0px 0px;
      h5 {
        margin: 0px;
        font-size: 1rem;
        color: $dark-1;
      }
      .orderHead {
        width: 30%;
      }
      .dateHead {
        width: 25%;
      }
      .statusHead {
        width: 25%;
      }
      .amountHead {
        width: 20%;
      }
    }
    .orderTab {
      display: flex;
      align-items: center;
      padding: 0px 10px;
      background-color: $white;
      border-bottom: 1px solid $subtle-accents;
      h5 {
        margin: 0px;
      }
      .col1 {
        width: 30%;
        display: flex;
        align-items: center;
        .imgWrap {
          width: 4rem;
          height: 4rem;
          margin-right: 1rem;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
      .col2 {
        width: 25%;
      }
      .col3 {
        width: 25%;
      }
      .col4 {
        width: 20%;
      }
    }
    .footer {
      border-radius: 0px 0px 10px 10px;
      width: 100%;
      height: 1rem;
      background-color: $secondary;
      display: flex;
      align-items: center;
      padding: 0px 10px;
    }
  }
}
